<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="{{ url_for('index') }}">Core</a>

    <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

{% block content %} {% endblock %}

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
