{% extends 'base.html' %}

{% block title %}
Core - Share your Core memories with others
{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-3">Welcome to Core!</h1>
    <p>Share your core memories with others.</p>
    <a href="{{ url_for('upload') }}" class="btn btn-primary mb-5">Upload a Core Memory</a>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for url in file_urls %}
        <div class="col">
            <div class="card h-100">
                {% if url.endswith('.mp4') %}
                <video controls>
                    <source src="{{ url }}" type="video/mp4">
                </video>
                {% else %}
                <img src="{{ url }}" class="card-img-top" alt="Core Memory">
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
